@import 'material-icons';
@import 'magnific-popup';
@import 'owl.carousel';
@import 'owl.theme.default.min';
@import 'flexslider';
@import 'materialize.min';
/*-----------------------------------------------------------------------------------
Shortcodes style
-----------------------------------------------------------------------------------*/

@import 'accordion';
@import 'alert';
@import 'blog';
@import 'countdown';
@import 'facts';
@import 'form-style';
@import 'featured-box';
@import 'footer';
@import 'header';
@import 'page-title';
@import 'portfolio';
@import 'promo-box';
@import 'pricing';
@import 'slider';
@import 'tabs';
@import 'team';
@import 'testimonial';

/*---------------------------------------------------------------------------*/ 

@import 'shortcodes';
@import 'settings';
@import 'flaticon';
@import 'style';
@import 'layers';
@import 'bootstrap.min';
@import 'navigation';